/* Slider container */
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    text-align: right;
    position: fixed; 
}

/* Slider content */
.slider-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: absolute; /* For positioning the navigation buttons */
    overflow: hidden; /* Hide overflow to prevent icons from extending outside */
    justify-content: center; /* Center content horizontally */
}




/* Image */
img {
    max-width: 700px; /* Ensure the image resizes within its container */
    height: 600px;
    margin-right: 10px; /* Adjust as needed for spacing */
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 7px;
}

/* Product information */
.product-info {
    flex-grow: 10; /* Expand to fill available space */
    text-align: left;
}

.product-description {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.buy-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #ccea0c;
}
